# Credenciales DUX
DUX_USERNAME=tu_usuario
DUX_PASSWORD=tu_password
DUX_URL=http://tu-servidor/dux/XZS001P001.aspx

# Base de datos
DB_URL=tu_servidor_db
DB_NAME=nombre_db
DB_USERNAME=usuario_db
DB_PASSWORD=password_db
DB_PORT=3306

# Email
EMAIL_HOST=tu_servidor_email
EMAIL_PORT=465
EMAIL_USER=tu_email@ejemplo.com
EMAIL_PASSWORD=tu_password_email

# Rutas
DJVE_XML_PATH=C:\ruta\a\djve
DOWNLOAD_PATH=C:\ruta\a\downloads
DUX_TXT_TO_SIM=C:\ruta\a\djve_txt
DUX_FACTURA_PDF=\\servidor\ruta\factura

# Telegram
TELEGRAM_BOT_TOKEN=tu_bot_token
TELEGRAM_CHAT_ID=tu_chat_id
